* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.header-section {
    display: flex;
    margin-left: 5%;
}

.header-section img {
    width: 100%;
}

.half-width {
    width: 50%;
}

.color {
    color: tomato;
}

.half-width h1 {
    font-size: 60px;
    color: #575757;
}

.half-width p {
    color: #828282;
    font-size: 20px;
    margin-bottom: 30px;
}


.text-area {
    padding: 5%;
}

.btn {
    text-decoration: none;
    /* font-size: 18px; */
    color: white;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    padding: 10px 20px;

}

/* header section end */
.about-me {
    background-repeat: none;
    background-size: cover;
    background-image: url(img/7.png);
    display: flex;

}

.about-me img {
    width: 50%;
    margin-left: 150px;
    margin-top: 40px;
}

.about-me h2 {
    font-size: 40px;
    color: #707070;
}

.text-area {
    margin: auto;

}

.about-me p {
    padding: 50px 200px 0px 0px;
    line-height: 30px;
    color: #18191F;
}

/* about me secton end */
.my-recipies {
    padding: 5%;
}

.my-recipies-text {
    text-align: center;
}

.my-recipies-text h2 {
    padding: 20px;
    font-size: 40px;
    color: #707070;
}

.my-recipies-text p {
    line-height: 30px;
}

.item {
    display: flex;
    width: 80%;
    margin: auto;

}

.item img {
    width: 100%;

}

.item {
    margin-top: 30px;
}

.item h2 {
    padding: 10px 0px;
}

.item1 {
    margin-right: 30px;
    box-shadow: 0px 4px 40px #aaaaaa;
    padding: 30px;
    border-radius: 30px;
}

.item2 {
    margin-right: 30px;
    box-shadow: 0px 4px 40px #aaaaaa;
    padding: 30px;
    border-radius: 30px;
}

/* my recipies end */
.count {
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: 0px 4px 40px #aaaaaa;
    border-radius: 30px;
}

.same {
    padding: 40px;
    width: 30%;
    text-align: center;
}

footer {
    margin-top: 30px;
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

.footer-heading {
    padding: 20px;
}

.eat {
    color: tomato;
}

/* cont section end */